Source: ros-hydro-create-driver
Section: misc
Priority: extra
Maintainer: OSRF <turtlebot@osrfoundation.org>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/create_driver
Standards-Version: 3.9.2

Package: ros-hydro-create-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Driver for iRobot Create and Roomba This is a generic driver for iRobot Create that currently holds implementations for Turtlebot and Roomba. Port of pyrobot.py by Damon Kohler. It is currently labeled as turtlebot_driver pending review by the entire create community before using the name create_driver. For ROS bindings, please see turtlebot_node.
