Source: ros-hydro-turtlebot-create
Section: misc
Priority: extra
Maintainer: OSRF <turtlebot@osrfoundation.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://ros.org/wiki/turtlebot_create
Standards-Version: 3.9.2

Package: ros-hydro-turtlebot-create
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-create-description, ros-hydro-create-driver, ros-hydro-create-node
Description: Catkin metapackage for the turtlebot_create stack
